body {
    background-color: #EEEEEE;
}

/* .upcoming-matches {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    margin: 24px 160px;
} */

.upcoming-page{
    display: grid;
    grid-template-columns: repeat(12, 76px);
    gap: 20px;
    justify-content: center;
    position: relative;
    margin-top: 96px
}

.upcoming-page h1 {
    grid-column: 1/-1;
}

.upcoming-section {
    grid-column: 1/5;
}
.upcoming-detail-para {
    justify-content: center;
    text-align: center;
    padding-top: 100px;
}

@media screen and (max-width: 1200px) {
    .upcoming-page {
        grid-template-columns: repeat(12, 60px);
    }
}

@media screen and (max-width: 1024px) {
    .upcoming-page {
        grid-template-columns: repeat(12, 40px);
    }
    
}

@media screen and (max-width: 900px) {
    .upcoming-page {
        grid-template-columns: repeat(8, 1fr);
        margin: 0 48px;
        gap: 24px;
        margin-top: 108px;
        margin-bottom: 32px;
    }
    
}

@media screen and (max-width: 768px) {
    .upcoming-section {
        grid-column: 1/-1;
    }
}