.upcoming {
    grid-column: 1/6;
    display: inline-block;
    flex-direction: column;
    gap: 12px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.upcoming-title {
    color: #6677A5;
    font-family: "paris2024-font";
    /* padding-bottom: 30px; */
    font-weight: 550;
}