.homepage {
    width: 100%;
    position: relative;
}


.section-1 {
    position: relative;
    height: 820px;
    background-image: url("../../images/background-picture-2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-mask-image: linear-gradient(180deg, #4B4A4A 52.91%, rgba(63, 63, 63, 0.62) 68.13%, rgba(0, 0, 0, 0.00) 96%);
    mask-image: linear-gradient(180deg, #4B4A4A 52.91%, rgba(63, 63, 63, 0.62) 68.13%, rgba(0, 0, 0, 0.00) 96%);
}

.section-1 .title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-1 .title .title-text {
    color: white;
    text-align: center;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    font-family: "paris2024-font";
    font-size: 100px;
    font-style: normal;
    font-weight: 760;
    line-height: normal;
    white-space: nowrap;
}

.section-2 {
    display: grid;
    grid-template-columns: repeat(12, 76px);
    gap: 20px;
    justify-content: center;

}

.section-2 h2{
    font-family: "paris2024-font";
    font-size: 40px;
    font-style: normal;
    font-weight: 550;

}

.section-2 .news-section {
    grid-column: 1/-1;
}

.section-2 .sports-section {
    grid-column: 1/-1;
}

/* .section-2 .upcoming {
    grid-column: 1 / 4;
}

.section-2 .sports-result {
    grid-column: 5 / 13;
} */


@media screen and (max-width: 1200px) {
    .section-2 {
        grid-template-columns: repeat(12, 50px);
    }
}

@media screen and (max-width: 1024px) {
    .section-2 {
        grid-template-columns: repeat(12, 40px);
    }
}

@media screen and (max-width: 900px) {
    .section-1 .title .title-text {
        font-size: 88px;
    }

    .section-2 {
        grid-template-columns: repeat(8, 1fr);
        margin: 0 48px;
        gap: 24px;
    }

    .section-2 h2{
        font-size: 32px;
    
    }

}

@media screen and (max-width: 768px) {
    .section-1 .title .title-text {
        font-size: 72px;
    }

}

@media screen and (max-width: 600px) {
    .section-1 .title .title-text {
        font-size: 64px;
    }
}

@media screen and (max-width: 480px) {
    .section-1 .title .title-text {
        white-space: normal;
        font-size: 64px;
    }

    .section-2 {
        grid-template-columns: repeat(4, 1fr);
        margin: 0 48px;
        gap: 24px;
    }

    .section-2 h2{
        font-size: 24px;
    
    }
}

@media screen and (max-width: 320px) {
    .section-1 .title .title-text {
        white-space: normal;
        font-size: 56px;
    }
}