.detail-box-grey {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 12px;
    border-radius: 40px;
    background: #EEE;
}

.detail-box-white {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 12px;
    border-radius: 40px;
    background: #ffffff;
}

.match-detail {
    grid-column: 2 / 6;
}

.time {
    grid-column: 6 / 9;
}

.sport-logo {
    margin: auto;
}