.detail-box-grey {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 12px;
    border-radius: 40px;
    background: #EEE;
}

.detail-box-white {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 12px;
    border-radius: 40px;
    background: #ffffff;
}

.match-detail {
    grid-column: 2 / 6;
}

.time {
    grid-column: 6 / 9;
    margin-top: 6px;
}

.sport-logo {
    margin: auto;
}

.sport-name {
    font-size:x-large;
    font-weight: bold;
}

.match-detail p {
    color: grey;
}