@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@font-face {
  font-family: 'paris2024-font';
  src: url('./fonts/Paris2024-Variable.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  overflow-x: hidden;
}

body {
  font-family: 'Source Code Pro', monospace;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}