.add-subscribe-box {
    /* border: solid; */
    /* border-color: #D9D9D9 ; */
    /* border-radius: 16px; */
    padding: 24px 32px;
    grid-column: 1/4;
}

.add-subscribe-box h5 {
    font-size: 18px;
    font-family: 'paris2024-font';
    padding: 4px;
    font-weight: normal;
}

.add-subscribe-sport {
    position: flex;
    flex-direction: column;
}