* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "paris2024-font", sans-serif;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50%;
  max-width: 100%;
  /* overflow-y: scroll; */
}
#img_auth {
  object-fit: contain;
  max-width: 100%;
}

.container_auth {
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
  height: 820px;
  background-image: url("../../images/background-picture-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* -webkit-mask-image: linear-gradient(180deg, #4B4A4A 52.91%, rgba(63, 63, 63, 0.62) 68.13%, rgba(0, 0, 0, 0.00) 96%); */
  mask-image: linear-gradient(180deg, #4B4A4A 52.91%, rgba(63, 63, 63, 0.62) 68.13%, rgba(0, 0, 0, 0.00) 96%);
}

.form_set_pass {
  width: 23.5rem;
  padding: 3rem 4rem;
  border-radius: 1rem; 
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(3rem) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  max-height: 100%;
}

#regis_topic {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: calc(50% + 5vmin);
  color: #3f3f3f;
  font-weight: bold;
  font-family: "paris2024-font";
}

#form_auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5rem;
}

/* assign label left */
#label_setInfo {
  position: relative;
  left: 5.5px;
  margin-left: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  margin-right: auto;
  color: #333;
  font-size: calc(60% + 0.5vmin);
}

.input_set_info {
  padding: 0.7rem;
  border: none;
  border-radius: 0.75rem;
  margin-bottom: 0.6rem;
  color: #333;
  background-color: rgba(248, 248, 248, 0.935);
  width: 90%;
  border: none;
  border: cap;
  font-size: 1rem;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.12);
}

#button_setPassword {
  margin-bottom: 0.5rem;
  padding: 0.8rem;
  width: 95%;
  margin-top: 0.6rem;
  background-color:#FA841E;;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border: none;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.12);
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.2s ease-in-out;
}

#button_setPassword:hover {
  background-color: #535353;
}

.input_email_disable {
  padding: 0.7rem;

  border: none;
  border-radius: 0.4rem;
  margin-bottom: 0.6rem;
  color: #5a5858;
  background-color: rgba(202, 202, 202, 0.935);
  width: 90%;
  border: none;
  border: cap;
  font-size: 1rem;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.12);
}

.input_warning {
  padding: 0.7rem;
  /* border: none; */
  border-radius: 0.4rem;
  margin-bottom: 0.6rem;
  color: #333;
  background-color: rgba(248, 248, 248, 0.935);
  width: 90%;
  border: none;
  border: cap;
  font-size: 1rem;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.12);
  border: 1.5px solid rgba(244, 119, 119, 0.873); /* Change the border to red for warning */
}

